aniso8601==9.0.1
Authlib==1.2.1
bidict==0.22.1
blinker==1.7.0
cffi==1.16.0
click==8.1.7
cryptography==41.0.6
dnspython==2.4.2
dotmap==1.3.30
eventlet==0.33.3
Flask==3.0.0
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
greenlet==3.0.1
gunicorn==21.2.0
h11==0.14.0
itsdangerous==2.1.2
oatk==0.0.11
pycparser==2.21
pyfiglet==0.8.post1
PyJWT==2.8.0
pymongo==4.6.0
pypi-template==0.4.6
python-dotenv==1.0.0
python-engineio==4.8.0
python-socketio==5.10.0
simple-websocket==1.0.0
websocket-client==1.6.4
Werkzeug==3.0.1
wsproto==1.2.0
