alabaster==0.7.12
aniso8601==8.0.0
appdirs==1.4.4
Babel==2.8.0
bleach==3.3.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
coverage==5.1
cryptography==2.9.2
distlib==0.3.1
dnspython==1.16.0
docutils==0.16
eventlet==0.25.2
filelock==3.0.12
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SocketIO==4.3.1
future==0.18.2
greenlet==0.4.16
gunicorn==20.0.4
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
importlib-resources==3.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
monotonic==1.5
more-itertools==8.4.0
packaging==20.4
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit==2.0.10
py==1.9.0
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypi-template==0.1.1
python-dotenv==0.14.0
python-engineio==3.13.1
python-socketio==4.6.0
pytz==2020.1
PyYAML==5.3.1
readme-renderer==26.0
recommonmark==0.6.0
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==2.2.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
toml==0.10.1
tox==3.16.1
tqdm==4.47.0
twine==1.15.0
typing==3.7.4.1
urllib3==1.25.9
virtualenv==20.0.25
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
zipp==1.2.0
