body {
  margin:  0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  padding: 10px;
}

DIV.notification.vue-notification {
  font-size: 18px;
}

fieldset {
  border: 0px;
}

/* basic syntax highlighting for json */
pre {
  padding: 5px;
  margin: 5px;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.col-centered {
  margin: 0 auto;
  float: none;
}
